notifications:
  slack:
    secure: naix0bLa/50X1HIXwLtkUC/YH9Iurs18eVy/mhfrfD2YFd7QjUGRz24SQU2r0ev0Qh3CUaH9MJoAUbu4oaXGB1VXzZkV7OIGimZe4gcWJuzItnVhyrQJKpcpC7yafdl7uDA0wjWs2BYRHCJ3c35Gv4SmihuGVXUS3WFsL0i3VyXno8xPOfmyuUT7GZWW80uMnV6eOyhbPCBb17CchI8x7owdXVf3drxCrrjoP3oNbbpByTsDC+hnCmVQbhkZAqS63gZRj5LT6gNh4ZA/qenaGkhzfHFRSUW1+H16ZzYcSSl0PfAQBQYrc7agUjI987PBHdOv6BJS+pKmZ0MvaDwbnzhHZZdb8LXqM5K0zAhPiZMPL2MTq7+eNOBdRuTlbWs3OZfbY1cnewSpMmUGfwrIjVnLtvfhfJXVaFbpIfvNc6eafgmHas23A05f4Gk/IcRLvqICw+GQg76ADUpWubQal7gECTGbeivOdRLnQcQYWCg/a5VR5B+4ELENmWLRD7IQgo6rJKpPiRdGRc0C0E9Mqt3w7w+9NiDnjTbSu8Q6ARBLXjAu+jSbY1VK0iPq6k1Wj8U5EgQF/xVLCEtKDRW1bdllwWNgi2yPo1CrkgKmJj6XPU3Zc744NR85uC+PxAjkIIbm90joevPmUQGwkpAgVX2pxCjVAX6ynQ79TFfdd/Y=

language: python
python:
  - 2.6
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - 3.5
  - nightly
  - pypy
  - pypy3

matrix:
  include:
    # Source Code Analysis is slow.  We just run it once on
    # Python 2 and once on Python 3.
    - python: 2.7
      env: SCA=true
    - python: 3.5
      env: SCA=true

    # Travis CI doesn't support OSX python builds officially,
    # but that won't stop us
    - python: 2.7
      os: osx
      language: generic
      env: OS_X_PYTHON_VERSION=python
    - python: 3.5
      os: osx
      language: generic
      env: OS_X_PYTHON_VERSION=python3

cache:
  - pip
  - directories:
    - $HOME/.virtualenv/python3-osx

before_install:
  - uname -a
  - if [[ "$TRAVIS_OS_NAME" != "osx" ]]; then lsb_release -a; fi
  - |
       # install python3 on OS X
       if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
           brew update
           brew install "$OS_X_PYTHON_VERSION"
           virtualenv -p "$OS_X_PYTHON_VERSION" "$HOME/.virtualenv/osx-$OS_X_PYTHON_VERSION"
           source "$HOME/.virtualenv/osx-$OS_X_PYTHON_VERSION/bin/activate"
       else
           echo skip
       fi
  - |
       # upgrade pypy to a version that works with Cryptography 1.0
       if [[ "$TRAVIS_PYTHON_VERSION" == "pypy" ]]; then
           export PYENV_ROOT="$HOME/.pyenv"
           if [ -f "$PYENV_ROOT/bin/pyenv" ]; then
               pushd "$PYENV_ROOT" && git pull && popd
           else
               rm -rf "$PYENV_ROOT" && git clone --depth 1 https://github.com/yyuu/pyenv.git "$PYENV_ROOT"
           fi
           export PYPY_VERSION="4.0.1"
           "$PYENV_ROOT/bin/pyenv" install --skip-existing "pypy-$PYPY_VERSION"
           virtualenv -p "$PYENV_ROOT/versions/pypy-$PYPY_VERSION/bin/python" "$HOME/.virtualenv/pypy-$PYPY_VERSION"
           source "$HOME/.virtualenv/pypy-$PYPY_VERSION/bin/activate"
       else
           echo skip
       fi
  - virtualenv --version

install:
  - pip install mock
  - pip install nose
  - pip install pyflakes
  - pip install yapf

script:
  - pip freeze
  - python setup.py install
  - nosetests -w test
  - if [ -n "$TEST_ACCOUNT_ID" ]; then python -m b2.__main__ test_raw_api; else echo skip; fi
  - if [ -n "$SCA" -a -n "$TRAVIS_COMMIT_RANGE" ]; then git diff --name-only "$TRAVIS_COMMIT_RANGE" | grep '\.py$' | xargs yapf --diff setup.py test_b2_command_line.py || exit; else echo skip; fi
  - if [ -n "$SCA" -a -z "$TRAVIS_COMMIT_RANGE" ]; then yapf --diff --recursive b2 setup.py test_b2_command_line.py || exit; else echo skip; fi
  - if [ -n "$SCA" ]; then pyflakes b2; else echo skip; fi
