name: Continuous Delivery

on:
  push:
    tags: 'v*'  # push events to matching v*, i.e. v1.0, v20.15.10

env:
  CD: "true"
  ACTIONS_STEP_DEBUG: ${{ secrets.ACTIONS_STEP_DEBUG }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  PYTHON_DEFAULT_VERSION: "3.10"

jobs:
  deploy:
    env:
      B2_PYPI_PASSWORD: ${{ secrets.B2_PYPI_PASSWORD }}
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.build.outputs.version }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ env.PYTHON_DEFAULT_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_DEFAULT_VERSION }}
      - name: Install dependencies
        run: python -m pip install --upgrade nox pip setuptools
      - name: Build the distribution
        id: build
        run: nox -vs build
      - name: Read the Changelog
        id: read-changelog
        uses: mindsers/changelog-reader-action@v1
        with:
          version: ${{ steps.build.outputs.version }}
      - name: Create GitHub release and upload the distribution
        id: create-release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ steps.build.outputs.version }}
          body: ${{ steps.read-changelog.outputs.log_entry }}
          draft: ${{ env.ACTIONS_STEP_DEBUG == 'true' }}
          prerelease: false
          files: ${{ steps.build.outputs.asset_path }}
      - name: Upload the distribution to PyPI
        if: ${{ env.B2_PYPI_PASSWORD != '' }}
        uses: pypa/gh-action-pypi-publish@v1.3.1
        with:
          user: __token__
          password: ${{ env.B2_PYPI_PASSWORD }}
  deploy-linux-bundle:
    needs: deploy
    runs-on: ubuntu-latest
    container:
      image: "python:3.10"  # can not use ${{ env.PYTHON_DEFAULT_VERSION }} here
      env:
        DEBIAN_FRONTEND: noninteractive
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          apt-get -y update
          apt-get -y install patchelf
          python -m pip install --upgrade nox pip setuptools
      - name: Bundle the distribution
        id: bundle
        run: nox -vs bundle
      - name: Sign the bundle
        id: sign
        run: nox -vs sign
      - name: Upload the bundle to the GitHub release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.deploy.outputs.version }}
          draft: ${{ env.ACTIONS_STEP_DEBUG == 'true' }}
          prerelease: false
          files: ${{ steps.sign.outputs.asset_path }}
  deploy-macos-bundle:
    needs: deploy
    env:
      B2_OSX_CODE_SIGNING_CERTIFICATE: ${{ secrets.B2_OSX_CODE_SIGNING_CERTIFICATE }}
      B2_OSX_CODE_SIGNING_CERTIFICATE_NAME: ${{ secrets.B2_OSX_CODE_SIGNING_CERTIFICATE_NAME }}
      B2_OSX_CODE_SIGNING_CERTIFICATE_PASSWORD: ${{ secrets.B2_OSX_CODE_SIGNING_CERTIFICATE_PASSWORD }}
      B2_OSX_NOTARY_NAME: ${{ secrets.B2_OSX_NOTARY_NAME }}
      B2_OSX_NOTARY_PASSWORD: ${{ secrets.B2_OSX_NOTARY_PASSWORD }}
    runs-on: macos-10.15
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ env.PYTHON_DEFAULT_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_DEFAULT_VERSION }}
      - name: Install dependencies
        run: python -m pip install --upgrade nox pip setuptools
      - name: Bundle the distribution
        id: bundle
        run: nox -vs bundle
      - name: Import certificate
        uses: apple-actions/import-codesign-certs@v1
        with:
          p12-file-base64: ${{ env.B2_OSX_CODE_SIGNING_CERTIFICATE }}
          p12-password: ${{ env.B2_OSX_CODE_SIGNING_CERTIFICATE_PASSWORD }}
      - name: Sign the bundle
        id: sign
        run: nox -vs sign -- '${{ env.B2_OSX_CODE_SIGNING_CERTIFICATE_NAME }}'
      - name: Notarize the bundle
        if: ${{ env.B2_OSX_NOTARY_NAME != '' }}
        uses: devbotsxyz/xcode-notarize@v1
        with:
          product-path: ${{ steps.sign.outputs.asset_path }}
          appstore-connect-username: ${{ env.B2_OSX_NOTARY_NAME }}
          appstore-connect-password: ${{ env.B2_OSX_NOTARY_PASSWORD }}
          primary-bundle-id: com.backblaze.b2
      - name: Upload the bundle to the GitHub release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.deploy.outputs.version }}
          draft: ${{ env.ACTIONS_STEP_DEBUG == 'true' }}
          prerelease: false
          files: ${{ steps.sign.outputs.asset_path }}
  deploy-windows-bundle:
    needs: deploy
    env:
      B2_WINDOWS_CODE_SIGNING_CERTIFICATE: ${{ secrets.B2_WINDOWS_CODE_SIGNING_CERTIFICATE }}
      B2_WINDOWS_CODE_SIGNING_CERTIFICATE_PASSWORD: ${{ secrets.B2_WINDOWS_CODE_SIGNING_CERTIFICATE_PASSWORD }}
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python ${{ env.PYTHON_DEFAULT_VERSION }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ env.PYTHON_DEFAULT_VERSION }}
      - name: Install dependencies
        run: python -m pip install --upgrade nox pip setuptools
      - name: Bundle the distribution
        id: bundle
        run: nox -vs bundle
      - name: Import certificate
        id: windows_import_cert
        uses: timheuer/base64-to-file@v1
        with:
          fileName: 'cert.pfx'
          encodedString: ${{ secrets.B2_WINDOWS_CODE_SIGNING_CERTIFICATE }}
      - name: Sign the bundle
        id: sign
        run: nox -vs sign -- '${{ steps.windows_import_cert.outputs.filePath }}' '${{ env.B2_WINDOWS_CODE_SIGNING_CERTIFICATE_PASSWORD }}'
      - name: Upload the bundle to the GitHub release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ needs.deploy.outputs.version }}
          draft: ${{ env.ACTIONS_STEP_DEBUG == 'true' }}
          prerelease: false
          files: ${{ steps.sign.outputs.asset_path }}
